@import "tailwindcss";

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in-scale {
  animation: 0.7s cubic-bezier(0.4, 0, 0.2, 1) fadeInScale;
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  60% {
    opacity: 1;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-bounce-in {
  animation: 0.7s cubic-bezier(0.4, 0, 0.2, 1) bounceIn;
}

